body {
	margin-bottom: 			60px;

	@include media-breakpoint-up(md) {
		margin-bottom: 		0px;
	}
}

h1, h2, h3, h4, h5, h6 {
	text-align:					left;
}

ul {
	padding-left:				0px;

	li  {
		list-style-type:	none;
		margin-bottom: 		$gutter-grid;

		a {
			color:					$gray-700;
		}
	} 
}

.row {
	> div {
		@include media-breakpoint-down(md) {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
	}
}

.btn-primary {
	font-weight:				400;
	font-size:					18px;
	width:							200px;
}

.btn.btn-float {
	position:						fixed;
	bottom:							0px; 
	width:							100%!important;
	padding-top: 				$gutter-grid;
	padding-bottom: 		$gutter-grid;
}

.btn-secondary {
	color:							$white;
	text-transform:			uppercase;
	font-weight:				bold;
	padding-bottom:			1px;

	&:hover {
		color:						$white;
	}
}

.btn-info {
	border:							1px solid $orange;
	background-color:		$white;
	font-size:					14px;
	font-weight:				400;
	color:							$orange;

	&:hover {
		background-color:	$white;
		color:						$orange;
	}
}

.btn-light {
	font-size:					14px;
	font-weight:				400;
	color:							$gray-700;

	&:hover {
		background-color:	$white;
	}
}

.btn-sm {
	font-size: 					10px;
}

.btn-block {
	border-radius:			0px;
}

.card {
	margin-bottom:			7.5px;
	@include media-breakpoint-up(md) {
		margin-bottom:			$gutter-grid * 2;
	}
	box-shadow:					0 1px 2px rgba(0,0,0,0.16);
}

.media {
	margin-bottom:			$gutter-grid / 2;
}
