//HEADER
.header {
	padding-top: 			$gutter-grid;
	padding-bottom: 	$gutter-grid;
	background-color:	$white;

	button {
		@extend .float-right;

		margin-left: 		$gutter-grid;
	}

	.logo {
		width: 					100px;
	}
}

//HEADINGS
.heading {
	top:							-1px;
	z-index:					1;
	margin-bottom:		$gutter-grid * 2;
	background-color: #3B3F53;
	color:						$white;
	height:						95px;

	@include media-breakpoint-down(md) {
		margin-bottom: 	7.5px;
	}

	@include media-breakpoint-up(md) {
		position:					sticky;
	}

	h1 {
		line-height: 		95px;
		height: 				95px;
	}

	button {
		margin-top:			25px;
	}
}

.courseHeading {
	width:								100%;
	height:								auto;	
	min-height: 					145px;
	overflow:							hidden;
	margin-bottom:				$gutter-grid * 2;
	color:								$white;

	.courseHeading-info {
		@extend .container;
		position:						absolute;
		z-index: 						99999;
		//background-color: 	purple;

		h1, p {
			overflow: 				hidden;
		}

		h1 {
			font-weight:			bold;
		}

		p {
			margin-top:				10px;
		}

		@include media-breakpoint-up(sm) {
			left: 						50%;
		}

		@include media-breakpoint-down(sm) {

			h1 {
				height: 				70px;
				margin-top: 		15px;
				line-height: 		35px;
			}

			p {
				display: 				none;
			}
		}

		@include media-breakpoint-only(sm) {
			margin-left: 			-270px;
			//background-color: red;
		}

		@include media-breakpoint-only(md) {
			margin-left: 			-360px;
			//background-color: pink;

			h1 {
				height: 				80px;
				margin-top: 		20px;
				margin-bottom: 	0px;
				line-height: 		39px;
				font-size: 			32px;
			}

			p {
				height: 				60px;
				margin-top: 		20px;
				line-height: 		30px;
				font-size: 			18px;
			}
		}

		@include media-breakpoint-only(lg) {
			margin-left: 			-480px;
			//background-color: green;

			h1 {
				height: 				110px;
				margin-top: 		50px;
				line-height: 		57px;
				font-size: 			36px;
			}

			p {
				height: 				60px;
				margin-top: 		30px;
				line-height: 		30px;
				font-size: 			18px;
			}
		}

		@include media-breakpoint-up(xl) {
			margin-left: 			-570px;
			//background-color: magenta;
			
			h1 {
				height: 					110px;
				margin-top: 			90px;
				line-height: 			57px;
				font-size: 				36px;
				

			}

			p {
				height: 					60px;
				margin-top: 			40px;
				line-height: 			30px;
				font-size: 				18px;
			}
		}
	}

	.courseHeading-bg {
		position:							relative;
		height: 							105px;		
		background-image: 		url('../img/bglearning.jpg');
		background-size:			100%, auto;
		background-origin: 		center, 50%;
		background-repeat:		no-repeat;

		@include media-breakpoint-only(md) {
			height: 						200px;
		}

		@include media-breakpoint-only(lg) {
			height: 						293px;
		}

		@include media-breakpoint-up(xl) {
			height: 						355px;	
		}



		&:before {
			position:			absolute;
			display: 			block;
			width:				100%;
			height: 			100%;
			z-index: 			999;
			content: 			" ";
			background-color:	rgba(0,0,0,0.41);
		}
	}

}


//CONTENT
/*.desktop-card-img-top-correction {
	//Correcting padding only on mediums and desktop screens
	@include media-breakpoint-up(md) {
		$tmp-gtr: 			25px;
		padding: 				$tmp-gtr $tmp-gtr 0px $tmp-gtr;
	}
}
*/

.card {

	.list-inline-item img {
		width: 40px;
	}

	.social {
		width: 					100%;
		margin-bottom: 	0px;
		text-align:			center;

		@include media-breakpoint-up(md) {
			width:				auto;
			float:				right;
		}

		li {
			margin-bottom:0px;
		}
	}

	&.courseContent {

		h2 {
			margin-bottom:$gutter-grid;
		}
			
		.courseBy {
			font-size: 		14px;
		}

		.btn-sm {
			width: 				100px;
			font-size: 		14px;
		}
	}

}

.light-title {
	margin-bottom:		$gutter-grid;
	text-transform:		uppercase;
	color:						$gray-500;
	font-weight:			600;
}

.section-heading {
	margin-bottom:		$gutter-grid;
	padding-bottom:		$gutter-grid;
	border-bottom:		3px solid $gray-500;
	text-transform:		uppercase;
	color:						$gray-500;
	font-weight:			600;
	font-size:				14px;
}

.desktop-teacher {
	margin-bottom:		$gutter-grid * 2;
	text-align:				center;
	font-size:				14px!important;

	h2 {
		text-align: center;

		small {
			font-size: 		18px;
		}
	}
}

.formation-desktop {
	ul li {
		font-size: 			14px;
	}
}


//FOOTER
footer.footer {
	height:						75px;
	line-height:			75px;
	background-color:	#242E37;
	color:						$gray-600;

	.logo {
		width: 					100px;
		margin-right: 	$gutter-grid * 2;
		margin-bottom:	10px;
	}

	.slogan {

	}

	.copy {
		float:					right;
	}

}


//UTILS
.off-screen {
	//Bug with svg_clip
	position: 				fixed;
	left:							-20000px;
}

.svg_clip { 
	//Mobile
	height:						48px;
	margin-right:			$gutter-grid;

	//Desktop
	@include media-breakpoint-up(md) {
		height: 				130px;
		margin-right:		0px;
	}	
}

