{# course.njk #}
{% extends "layout.njk" %}

{# IMPORTS #}
{% import 'partials/courseHeading.njk' as courseHeading %}
{% import 'partials/courseContent.njk' as courseContent %}

{# ADITIONAL BLOCKS #}
{% block headTitle %}{% endblock %}
{% block bodyClass %}{% endblock %} 


{# BLOCK CONTENT #}
{% block content %}

	{# Heading #}
	{{ courseHeading.courseHeading() }}

	<div class="container">
		
		<div class="row">

			{% for i in [0,1,2] %}
				
				<div class="col-xs-12 col-md-6 col-lg-4">
				
					{# Course content #}
					{{ courseContent.courseContent() }}

				</div>

			{% endfor %}

		</div>

		

	</div>

{% endblock %}


{% block footer %} {{ footer.footer(bottomButton = false) }} {% endblock %}