{% macro courseContent() %}

<div class="card courseContent">
  <div class="desktop-card-img-top-correction">
		<div class="card-img-top embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/wk_QO4GZo7g" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

  <div class="card-body">
    <h2 class="card-title">Card title</h2>
    <p class="courseBy">Lorem ipsum <strong>John Doe</strong></p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary btn-sm">+ info</a>
  </div>
</div>

{% endmacro %}