{# footer.njk #}

{% macro footer(bottomButton = true) %}
	
	<footer class="footer d-none d-md-block">

		<div class="container">
			<img src="public/img/logo.svg" class="logo">
			<span class="slogan">Sucesfull personal Branding</span>
			<span class="copy">Copyright</span>
		</div>


	</footer>

	{% if (bottomButton == true) %}
		<button class="btn btn-primary btn-lg btn-block btn-float d-md-none">Apply</button>
	{% endif %}

{% endmacro %}