{# formationContent.njk #}

{% macro formationContent() %}

	<article class="card">
		<div class="desktop-card-img-top-correction">
			<div class="card-img-top embed-responsive embed-responsive-16by9">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/wk_QO4GZo7g" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="card-body">
			<h2><strong>Formation subtitle</strong></h2>

			<p>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			</p>
			
			<ul class="list-inline social">
			  <li class="list-inline-item">
			  	<img src="public/img/004-social-facebook-circular-button.svg">
			  </li>
			  <li class="list-inline-item">
			  	<img src="public/img/002-social-1.svg">
			  </li>
			  <li class="list-inline-item">
			  	<img src="public/img/003-social.svg">
			  </li>
			  <li class="list-inline-item">
			  	<img src="public/img/001-social-2.svg">
			  </li>
			</ul>
		
		</div> 



	</article>
	
{% endmacro %}