{# layout.njk #}

{# IMPORTS #}
{% import 'partials/header.njk' as header %}
{% import 'partials/footer.njk' as footer %}

<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>{% block headTitle %}{% endblock %}</title>
		
		<link rel="stylesheet" href="public/css/styles.css">
		
	</head>

	{# Set css body classes in bodyClass block #}
	<body class="{% block bodyClass %}{% endblock %}">

		{{ header.header() }}

		<section>
			{% block content %} Block content {% endblock %}
		</section>

		{% block footer %} Footer content {% endblock %}

	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</html>
